.about-columns {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .about-columns .col {
    flex: 1;
    line-height: 1.6;
  }
  
  .about-columns p {
    margin-bottom: 1rem;
    color:rgba(121, 34, 34, 0.92);
  }
  
  .about h3 {
    margin-bottom: 0.5rem;
    color:brown;
  }
  
  .about, .contact{
    margin-top:2.5rem
  }
  
  /* 小屏幕下自动改成上下排 */
  @media (max-width: 768px) {
    .about-columns {
      flex-direction: column;
    }
  }
  