/* 开场页面容器 */
.landing-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
  }
  
  /* 开场背景 */
  .skyview-background{
    position: absolute;
    inset: 0;
    background: url("../assets/grass.webp") no-repeat center center;
    background-size: cover;
    animation: lightMove 5s infinite alternate ease-in-out;
    z-index: -1;
  }
  
  /* 背景光影变化动画 */
  @keyframes lightMove {
    0% {
      filter: brightness(0.9) saturate(1);
    }
    100% {
      filter: brightness(1.1) saturate(1.2);
    }
  }
  
  /* 前景内容 */
  .landing-content {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .role{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 25px;
  }
  
  /* 渐显动画 */
  .fade-in {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
  }
  .fade-in.delay {
    animation-delay: 0.5s;
  }
  .fade-in.delay2 {
    animation-delay: 1s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  /* 按钮样式 */
  .enter-button {
    font-size: large;
    margin-top: 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: background 0.3s;
  
    position: relative; /* 为伪元素定位做准备 */
    overflow: hidden;   /* 隐藏初始状态在按钮外的线条 */
    transition: color 0.4s ease-out;
  }
  .enter-button:hover {
    transform: translateY(-4px); 
    background-color: rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); /* 放大 5% */
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6); /* 白色微光 */
  }